<!DOCTYPE html>
<html lang="en">

<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>Find It</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- bootstrap css -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- style css -->
    <link rel="stylesheet" href="css/style.css">
    <!-- Responsive-->
    <link rel="stylesheet" href="css/responsive.css">
    <!-- fevicon -->
    <link rel="icon" href="images/fevicon.png" type="image/gif" />
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css">
    <!-- Tweaks for older IEs-->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <!-- owl stylesheets -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->

      <style>
        
      </style>
</head>

<div class="brand">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="titlepage">
                    <object data="../images/logo_thick.svg" width="300px" height="200x"></object>
                
                </div>

            </div>
            <div class="col-md-6">
                <div class="titlepage">
                    
                    <form method="get" action="/">
                        <input type="submit" name="give" class="btn-custom shadow-lg p-3 mb-5 rounded" value="home">
                    </form>
                </div>

            </div>
        </div>
    </div>

    


    <div class="brand-bg">
        <div class="container">
            <div class="row">
                <h1>Would you like to pick up this item/s?</h1>
            </div>

<div class="container">
    <div class="shopping-cart">
      <div class="shopping-cart-header">
        <div class="shopping-cart-total">
            <div class="row">
         <div class="col-6">
          <span class="lighter-text">Total:</span>
          <span class="main-color-text"><%=total%></span>
       
        </div>
       
        </div>
        </div></div>
      </div> <!--end shopping-cart-header -->


      <ul class="shopping-cart-items">
        <% cart.forEach(function(item) { %>
            <div style="padding: 30px;">
                <li class="clearfix">
                    <span class="item-name"><%=item.name%></span> <br>
                    <img src="../images/<%= item.image %>" width="255px" height="255px" alt="item1" />
                    <br>
                    <form method="post" action="/remove_product">
                        <input type="hidden" name="id" value="<%= item.id %>">
                        <input type="submit" name="remove_btn" class="btn btn-danger" value="remove">
                    </form>
            </li>
        </div>

        <% }); %>
    </ul>
    <div class="col-6">
        <form method="get" action="/checkout">
            <input type="submit" class="btn-custom" value="Confirm" style="margin:0 auto">
        </form>
    </div>

    </div> <!--end shopping-cart -->
  </div> <!--end container -->




<br>



